* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    overflow: hidden;
	touch-action: none;
	font-family: 'Source Serif Pro', serif;
}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
}

#layout {
	justify-self: center;
	align-self: center;
	width: min( 100vw, 100vh );
	height: 100vh;
    display: grid;
	grid-template-rows: 1fr calc( min(100vw, 100vh) - 16vmin ) 1fr;
	grid-template-columns: 8vmin 1fr 8vmin;
}

#shader-canvas {
	aspect-ratio: 1 / 1;
	display: grid;
	grid-row: 2;
	grid-column: 2;
	align-self: stretch;
	justify-self: stretch;
	padding: 5vmin;
    background: #fafafa;
	border-top: 5vmin solid #e8e8e8;
	border-right: 5vmin solid #f4f4f4;
	border-bottom: 5vmin solid #f8f8f8;
	border-left: 5vmin solid #f4f4f4;
	max-width: 84vmin;
}

#layout img {
	opacity: 50%;
	grid-row: 2;
	justify-self: center;
	align-self: center;
	padding: 2rem;
	cursor: pointer;
	border-radius: 1rem;
}
#layout img:hover {
	opacity: 100%;
}

#layout p {
	grid-column: 2;
	justify-self: center;
	align-self: center;
}
